-
  const welcomeModalData = [
    {
      image: "assets/images/welcome-modal-img-1.svg",
      title: "Stay on top of your health with timely reminders",
      description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing."
    },
    {
      image: "",
      title: "Stay on top of your health with timely reminders-2",
      description: "Get a personalized cost estimate for most prescriptions based on your health plan with our new drug pricing tool."
    }
  ]

.welcome-modal#welcome-modal(role="dialog" aria-labelledby="welcome-modal-heading" tabindex="-1")
  .welcome-modal-panel
    .welcome-modal__header
      h4#welcome-modal-heading What’s New
      button.close#close-welcome-modal(aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close")
        img(src="assets/images/icon-close.svg" alt="")
        span Close
    .welcome-modal__content
      each data, index in welcomeModalData
        div(id=`welcome-modal-data-${index}` style="display:none;")
          if data.image != ""
            img.feature-img#feature-img(src=`${data.image}` alt="")
          h3#feature-title #{data.title}
          h5#feature-description #{data.description}
    .welcome-modal__footer
      .welcome-modal__footer-frame
        button(aria-label="optional CTA") Optional CTA
        input(type="checkbox")
        h6 Don’t show again
      .welcome-modal__footer-divider
      .welcome-modal__footer-paging
        button.previous-btn.btn-none#previous-btn(aria-label="previous tip") Previous tip
        if welcomeModalData.length > 1
          button.next-btn#next-btn(aria-label="next tip") Next tip
        else
          button.next-btn.btn-none#next-btn(aria-label="next tip") Next tip
        h6#pagination 1 of #{welcomeModalData.length}
script.
  var container = document.getElementById("container");
  container.classList.add("container--modal");

  var welcomeModal = document.getElementById("welcome-modal");
  var closeWelcomeModal = document.getElementById("close-welcome-modal");

  closeWelcomeModal.onclick = function () {
    welcomeModal.style.display = "none";
    container.classList.remove("container--modal");
  };

  var previousBtn = document.getElementById("previous-btn");
  var nextBtn = document.getElementById("next-btn");
  var pagination = document.getElementById("pagination");

  var index = 0;
  document.getElementById(`welcome-modal-data-${index}`).style.display = "block";
  
  nextBtn.onclick = function () {
    if (index < #{welcomeModalData.length - 1}) {
      document.getElementById(`welcome-modal-data-${index}`).style.display = "none";
      index += 1;
      document.getElementById(`welcome-modal-data-${index}`).style.display = "block";
      pagination.textContent = `${index+1} of #{welcomeModalData.length}`;
      previousBtn.classList.remove("btn-none");
      if (#{welcomeModalData.length - 1} == index) {
        nextBtn.classList.add("btn-none");
      }
    }
  };

  previousBtn.onclick = function () {
    if (index > 0) {
      document.getElementById(`welcome-modal-data-${index}`).style.display = "none";
      index -= 1;
      document.getElementById(`welcome-modal-data-${index}`).style.display = "block";
      pagination.textContent = `${index+1} of #{welcomeModalData.length}`;
      nextBtn.classList.remove("btn-none");
      if (index == 0) {
        previousBtn.classList.add("btn-none");
      }
    }
  };
