-
  // primary card content json data
  const primaryCardContentData = [
    {
      header: "Online Care",
      data: [
        {
          title: "E-visit",
          titleProperty: [
            {
              text: "Fastest",
              iconSrc: "assets/images/icon-speed.svg",
              alt: ""
            }
          ],
          body: [
            "Get online care and prescriptions from a doctor, usually within an hour.",
          ],
          buttonText: "Schedule an e-visit",
        },
        {
          title: "Phone or video appt",
          titleProperty: [],
          body: ["Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit"],
          buttonText: "Schedule a video visit",
        },
        {
          title: "E-mail",
          titleProperty: [],
          body: ["Message your clinician’s office with nonurgent questions anytime."],
          buttonText: "E-mail your doctor now",
        },
        {
          title: "Title",
          titleProperty: [],
          body: [
            "Problems with a bladder infection",
            "Urinary incontinance",
            "Vaginal Yeast Infections"
            ],
          buttonText: "Schedule a video visit",
        },
        {
          title: "Title",
          titleProperty: [],
          body: ["Message your clinician’s office with nonurgent questions anytime."],
          buttonText: "E-mail your doctor now",
        },
        {
          title: "Title",
          titleProperty: [],
          body: ["Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit"],
          buttonText: "Schedule a video visit",
        },
      ]
    },
    {
      header: "Call for Care",
      data: [
        {
          title: "E-visit",
          titleProperty: [
            {
              text: "Fastest",
              iconSrc: "assets/images/icon-speed.svg",
              alt: ""
            }
          ],
          body: ["Get online care and prescriptions from a doctor, usually within an hour."],
          buttonText: "Schedule an e-visit",
        },
        {
          title: "Phone or video appt",
          titleProperty: [],
          body: ["Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit"],
          buttonText: "Schedule a video visit",
        },
        {
          title: "E-mail",
          titleProperty: [],
          body: ["Message your clinician’s office with nonurgent questions anytime."],
          buttonText: "E-mail your doctor now",
        },
        {
          title: "Title",
          titleProperty: [],
          body: ["Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit"],
          buttonText: "Schedule a video visit",
        },
      ]
    },
    {
      header: "In-Person Care",
      data: [
        {
          title: "E-visit",
          titleProperty: [
            {
              text: "Fastest",
              iconSrc: "assets/images/icon-speed.svg",
              alt: ""
            }
          ],
          body: ["Get online care and prescriptions from a doctor, usually within an hour."],
          buttonText: "Schedule an e-visit",
        },
      ]
    },
  ]

.primary-card-content#primary-card-content(aria-hidden="true")
  h3.greeting.greeting-mobile#greeting-mobile What kind of care do you need?
  .primary-card-content-modal#primary-card-modal
    each content, cardIndex in primaryCardContentData
      .display-none(class=`primary-card-content-${cardIndex}` id=`primary-card-content-${cardIndex}`)
        include ../panel/panel-grid.pug
          .newGrid_container
            .primary-card-content__header
              h3.-header #{content.header}
              button.close-primary-content
                img(src="assets/images/icon-close-circle.svg" alt="")
            if content.data.length > 0
              .rows
                each card, index in content.data
                  case content.data.length
                    when 1
                    when 2
                    when 4
                      .columns-6
                        .primary-card-content__title
                          h4.-title #{card.title}
                          each titleProperty in card.titleProperty
                            img(src=`${titleProperty.iconSrc}` alt=`${titleProperty.alt}`)
                            span #{titleProperty.text}
                        if card.body.length == 1
                          p #{card.body}
                        else
                          ul
                            each cardbody in card.body
                              li #{cardbody}
                        a.button(data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#") #{card.buttonText}
                        .primary-card-content__divider.primary-card-content__divider-mobile
                    when 3
                    default
                      .columns-4
                        .primary-card-content__title
                          h4.-title #{card.title}
                          each titleProperty in card.titleProperty
                            img(src=`${titleProperty.iconSrc}` alt=`${titleProperty.alt}`)
                            span #{titleProperty.text}
                        if card.body.length == 1
                          p #{card.body}
                        else
                          ul
                            each cardbody in card.body
                              li #{cardbody}
                        a.button(data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#") #{card.buttonText}
                        .primary-card-content__divider.primary-card-content__divider-mobile
            .primary-card-content__divider.primary-card-content__divider-tablet
            .primary-card-content__footer
              p
                strong Do not attempt to access emergency care through this website.
                br
                | If you are having a medical health emergency, call 911 or go to the nearest emergency room.  
            
  script.
    var closePrimaryContents = document.querySelectorAll('.close-primary-content');
    closePrimaryContents.forEach(function(content, i){
      content.addEventListener('click', function (e) {
        document.getElementById("care-actions").setAttribute('aria-hidden', 'false');
        primaryContent.setAttribute('aria-hidden', 'true');
        contentIndex(e, i);
      });
    })

    function contentIndex(e, index) {
      careDisplay.classList.remove("care-display-animation-in");
      careDisplay.classList.add("care-display-animation-out");

      var clickCard = document.getElementById(`primary-card-content-${index}`);

      // Get the natural height of the element
      var getHeight = function () {
        careActions.style.display = 'block'; // Make it visible
        var height = careActions.scrollHeight + 'px'; // Get it's height
        careActions.style.display = ''; //  Hide it again
        return height;
      };

      var height = getHeight(); // Get the natural height
      careActions.classList.add('is-visible'); // Make the element visible
      careActions.style.height = height; // Update the max-height

      // Once the transition is complete, remove the inline max-height so the content can scale responsively
      window.setTimeout(function () {
        careActions.style.height = '';
        document.getElementById("greeting").textContent = "Hi Jaeroine, how can we help you?";
      }, 400);

      // when mobile
      primaryModal.classList.add("primary-card-content-modal-out");
      window.setTimeout(function () {
        primaryContent.classList.add("primary-card-content--animation-out");
        primaryContent.style.display = "none";
        clickCard.classList.add("display-none");
      }, 400);
      document.getElementById("greeting-mobile").classList.add("greeting-mobile--opacity-animation-out");
      document.body.classList.remove("kp-modal-disable-scroll");
    }
