-
  const careReminderCards = [
    {
      borderColor: "sky",
      borderColor2: "#006BA6",
      iconSrc: 'assets/images/icon-1.png',
      title: "Extend your access",
      action: "Renew your permission to use kp.org on behalf of those you care for before it expires"
    },
    {
      borderColor: "leaf",
      borderColor2: "#57A635",
      iconSrc: 'assets/images/icon-2.png',
      title: "4 prescriptions will be ready to fill on this date",
      action: "Re-fill prescriptions"
    },
    {
      borderColor: "lavender",
      borderColor2: "#846EAD",
      iconSrc: 'assets/images/icon-3.png',
      title: "Your prescription is on its way",
      action: "Track it"
    },
    {
      borderColor: "sky",
      borderColor2: "#006BA6",
      iconSrc: 'assets/images/icon-4.png',
      title: "Preventive care reminders",
      action: "Take steps now to feel your best"
    },
    {
      borderColor: "robin-egg",
      borderColor2: "#20A29E",
      iconSrc: 'assets/images/icon-5.png',
      title: "We can see you sooner",
      action: "View and confirm you want the new appointment"
    },
    {
      borderColor: "sky",
      borderColor2: "#006BA6",
      iconSrc: 'assets/images/icon-1.png',
      title: "Extend your access",
      action: "Renew your permission to use kp.org on behalf of those you care for before it expires"
    },
    {
      borderColor: "leaf",
      borderColor2: "#57A635",
      iconSrc: 'assets/images/icon-2.png',
      title: "4 prescriptions will be ready to fill on this date",
      action: "Re-fill prescriptions"
    },
    {
      borderColor: "sky",
      borderColor2: "#006BA6",
      iconSrc: 'assets/images/icon-4.png',
      title: "Preventive care reminders",
      action: "Take steps now to feel your best"
    },
    {
      borderColor: "robin-egg",
      borderColor2: "#20A29E",
      iconSrc: 'assets/images/icon-5.png',
      title: "We can see you sooner",
      action: "View and confirm you want the new appointment"
    },
    {
      borderColor: "sky",
      borderColor2: "#006BA6",
      iconSrc: 'assets/images/icon-1.png',
      title: "Extend your access",
      action: "Renew your permission to use kp.org on behalf of those you care for before it expires"
    },
    {
      borderColor: "leaf",
      borderColor2: "#57A635",
      iconSrc: 'assets/images/icon-2.png',
      title: "4 prescriptions will be ready to fill on this date",
      action: "Re-fill prescriptions"
    },
    {
      borderColor: "sky",
      borderColor2: "#006BA6",
      iconSrc: 'assets/images/icon-4.png',
      title: "Preventive care reminders",
      action: "Take steps now to feel your best"
    },
    {
      borderColor: "robin-egg",
      borderColor2: "#20A29E",
      iconSrc: 'assets/images/icon-5.png',
      title: "We can see you sooner",
      action: "View and confirm you want the new appointment"
    },
    {
      borderColor: "sky",
      borderColor2: "#006BA6",
      iconSrc: 'assets/images/icon-1.png',
      title: "Extend your access",
      action: "Renew your permission to use kp.org on behalf of those you care for before it expires"
    },
    {
      borderColor: "leaf",
      borderColor2: "#57A635",
      iconSrc: 'assets/images/icon-2.png',
      title: "4 prescriptions will be ready to fill on this date",
      action: "Re-fill prescriptions"
    }
  ]

.care-reminders
  h3 Care Reminders
  ul.care-reminder-list
    each card in careReminderCards
      li(class=`care-reminder-list--item ${card.borderColor}`)
        .care-reminder-list--item-image
          img(src=`${card.iconSrc}` alt=`${card.alt}`)
        .care-reminder-list--item-content
          p.care-reminder-list--item-title #{card.title}
          p.care-reminder-list--item-description #{card.action}

//- TODO: no care reminders - use pug conditional
