//- WIP - KP Devs ignore this file
mixin modal(nameSpace="target" title="Modal Title")
  .modal-pattern(id=`${nameSpace}-modal` aria-hidden="true" data-analytics-location=`modal-${nameSpace}-modal`)
    .modal-container
      .modal-inner.modal-icons-enabled(aria-label=`${title}` role="dialog" tabindex="-1")
        button.-close--small(aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close")
          img(src="assets/images/icon-close.svg" alt="")
          | Close
        .modal-header
          p.modal-title #{title}
        .modal-content
          .modal-content-body
            block modal-content
      .modal-fade-screen

  //- Trigger to be placed in markup
  .rows
    .columns-3
      button.button.modal-button(data-modal-trigger=`${nameSpace}-modal`) #{nameSpace} Modal
