-
  const doctors = [
    {
      title: "Primary Care Physician",
      name: "Michael Quines, MD",
      alt: "alt description",
      src: "assets/images/icon-doctor-avatar.png"
    },
    {
      title: "Family Practice",
      name: "Samantha Rivera, MD",
      alt: "alt description",
      src: "assets/images/icon-doctor-avatar-2.png"
    },
    {
      title: "Obstetrics & Gynecology",
      name: "Stacy Fand, MD",
      alt: "alt description",
      src: "assets/images/icon-doctor-avatar-3.png"
    },
    {
      title: "Primary Care Physician",
      name: "Michael Quines, MD",
      alt: "alt description",
      src: "assets/images/icon-doctor-avatar.png"
    },
    {
      title: "Family Practice",
      name: "Samantha Rivera, MD",
      alt: "alt description",
      src: "assets/images/icon-doctor-avatar-2.png"
    },
  ]

.care-team
  include ../panel/panel.pug
    if doctors.length
      h3 Care Team
      ul.care-team-list
        each doctor in doctors
          li.care-team-list--item
            .care-team-list--item-image
              img(src=`${doctor.src}` alt=`${doctor.alt}`)
            .care-team-list--item-content
              p.care-team-list--item-title #{doctor.title}
              p.care-team-list--item-description #{doctor.name}
              a.care-team-list--item-link(href="/" aria-label=`View more details about ${doctor.name}`) View more details
      .panel-footer
        .panel-footer--link
          img(src="assets/images/icon-search.png" alt="")
          a(href="/") Find a doctor or location
    else
      .care-team-no-results
        //- TODO: hide icon from screen reader
        img(src="http://placehold.it/64x64")
        h3 Find a doctor and build your personal care team.
        p Complete your account, find a doctor and build your personal care team.
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit.
        button Find a doctor
        a(href="/") Learn more
