include ../../mixins/mixins.pug

-
  const doctors = [
    {
      title: "Primary Care Physician",
      name: "Michael Quines, MD",
      alt: "alt description",
      src: "/assets/images/icon-doctor-avatar.svg"
    },
    {
      title: "Family Practice",
      name: "Samantha Rivera, MD",
      alt: "alt description",
      src: "/assets/images/icon-doctor-avatar-2.svg"
    },
    {
      title: "Obstetrics & Gynecology",
      name: "Stacy Fand, MD",
      alt: "alt description",
      src: "/assets/images/icon-doctor-avatar-3.svg"
    },
    {
      title: "Primary Care Physician",
      name: "Michael Quines, MD",
      alt: "alt description",
      src: "/assets/images/icon-doctor-avatar.svg"
    },
    {
      title: "Family Practice",
      name: "Samantha Rivera, MD",
      alt: "alt description",
      src: "/assets/images/icon-doctor-avatar-2.svg"
    },
  ]

.care-team
  include ../panel/panel.pug
    if doctors.length
      h3 Care Team
      ul.care-team-list
        each doctor in doctors
          li.care-team-list--item
            .care-team-list--item-image
              img(src=`${doctor.src}` alt=`${doctor.alt}`)
            .care-team-list--item-content
              p.care-team-list--item-title #{doctor.title}
              p.care-team-list--item-description #{doctor.name}
              +link("View more details")(class="care-team-list--item-link" aria-label=`View more details about ${doctor.name}`)
      .panel-footer
        .panel-footer--link
          +link("Find a doctor or location")
    else
      .care-team-no-results
        //- TODO: hide icon from screen reader
        img(src="http://placehold.it/64x64")
        h3 Find a doctor and build your personal care team.
        p Complete your account, find a doctor and build your personal care team.
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit.
        button Find a doctor
        +link("Learn more")
