-
  const psaContentData = [
    {
      title: "Get your flu shot for free",
      description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.",
      buttonText: "Get a flu shot"
    },
    {
      title: "Get immediate help with our virtual assistant",
      description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam.",
      buttonText: "Open virtual assistant"
    },
    {
      title: "Managing diabetes",
      description: "You get convenient access to care that fits your life. Learn more about how to live your best life. ",
      buttonText: "View resources"
    }
  ]

mixin content(title, description, text)
  .content
    h2.content-title= title
    p.content-description= description
    .content-footer
      a.button(href="/")= text
      a(href="/") Learn more

.container-bg
  .psa
    .newGrid_container
      .rows
        if psaContentData.length > 0
          each content, index in psaContentData
            case psaContentData.length
              when 1
              when 2
              when 4
                .columns-6
                  +content(`${content.title}`, `${content.description}`, `${content.buttonText}`)
              when 3
              default
                .columns-4
                  +content(`${content.title}`, `${content.description}`, `${content.buttonText}`)
