-
  var TABLETMINWIDTH = "768";
  // Care actions json data
  const primaryCareActionCards = [
    {
      iconSrc: 'assets/images/online-care.png',
      title: "Online Care",
      alt: "",
      subTitle: "Get quality care faster."
    },
    {
      iconSrc: 'assets/images/call-care.png',
      title: "Call for Care",
      alt: "",
      subTitle: "Talk with a licensed care provider by phone."
    },
    {
      iconSrc: 'assets/images/person-care.png',
      title: "In-Person Care",
      alt: "",
      subTitle: "Make an appointment or find care locations."
    }
  ]

  const secondaryCareActionCards = [
    {
      buttonText: "COVID-19: Get Care & Testing"
    },
    {
      buttonText: "Women’s Health"
    },
    {
      buttonText: "Cold & Flu, Cough, Sore Throat, Sinus"
    },
    {
      buttonText: "Skin Problems / Conditions"
    },
    {
      buttonText: "Women’s Health"
    },
    {
      buttonText: "Cold & Flu, Cough, Sore Throat, Sinus"
    },
    {
      buttonText: "Skin Problems / Conditions"
    }
  ]

p Care actions - view less example plus transition
.care-display#care-display
  .care-actions#care-actions
    .toggle-content.is-visible#care-actions-toggle
      include ../panel/panel.pug
        h3 Get Care
        if primaryCareActionCards.length > 0
          ul.care-actions-primary-list
            each primaryCard, index in primaryCareActionCards
              case primaryCareActionCards.length
                when 1
                when 2
                when 4
                  li.care-actions-primary-list--flex.care-actions-primary-list--flex--50
                    button.care-actions-primary-list--item
                      .care-actions-primary-list--item-image
                        img(src=`${primaryCard.iconSrc}` alt=`${primaryCard.alt}`)
                      .care-actions-primary-list--item-content
                        .care-actions-primary-list--item-title #{primaryCard.title}
                        .care-actions-primary-list--item-description #{primaryCard.subTitle}
                when 3
                default
                  li.care-actions-primary-list--flex.care-actions-primary-list--flex--33
                    button.care-actions-primary-list--item
                      .care-actions-primary-list--item-image
                        img(src=`${primaryCard.iconSrc}` alt=`${primaryCard.alt}`)
                      .care-actions-primary-list--item-content
                        .care-actions-primary-list--item-title #{primaryCard.title}
                        .care-actions-primary-list--item-description #{primaryCard.subTitle}
        ul.care-actions-secondary-list
          each secondaryCard in secondaryCareActionCards
            li
              a.care-actions-secondary-list-button(href="#") #{secondaryCard.buttonText}
        button.view-toggle(aria-expanded="false" type="button") View less care actions (#{primaryCareActionCards.length + secondaryCareActionCards.length})
  include ../primary-card-content/primary-card-content.pug
  script.
    var careDisplay = document.getElementById("care-display");
    var careActions = document.getElementById("care-actions-toggle");
    var primaryContent = document.getElementById("primary-card-content");
    var primaryModal = document.getElementById("primary-card-modal");
    var container = document.getElementById("container");

    var primaryCards = document.querySelectorAll('.care-actions-primary-list--flex');
    primaryCards.forEach(function(card, i){
      card.addEventListener('click', function (e) {
        document.getElementById("care-actions").setAttribute('aria-hidden', 'true');
        primaryContent.setAttribute('aria-hidden', 'false');
        cardIndex(e, i);
      });
    })

    function cardIndex(e, index) {
      if(window.innerWidth >= #{TABLETMINWIDTH}) {
        careDisplay.classList.add("care-display-animation-in");
        careDisplay.classList.remove("care-display-animation-out");

        document.getElementById("greeting").textContent = "What kind of care do you need?";

        careActions.style.height = careActions.scrollHeight + 'px';
        window.setTimeout(function () {
          careActions.style.height = '0';
        }, 1);
        window.setTimeout(function () {
          careActions.classList.remove('is-visible');
        }, 400);
      }

      primaryContent.style.display = "block";
      primaryContent.classList.remove("primary-card-content--animation-out");
      var clickCard = document.getElementById(`primary-card-content-${index}`);
      clickCard.classList.remove("display-none");
      primaryModal.classList.remove("primary-card-content-modal-out");
      // when mobile size
      document.getElementById("greeting-mobile").classList.remove("greeting-mobile--opacity-animation-out");
      document.body.classList.add("kp-modal-disable-scroll");
    }
